<nav>
  <a href="/">
    <h2>Store</h2>
  </a>
  <ul>
    <a href="/products">
      <li>Home</li>
    </a>
    <a href="/cart">
      <li>Cart</li>
    </a>
    <a href="/orders">
      <li>Orders</li>
    </a>
  </ul>
</nav>
