<nav class="flex text-4xl py-2 px-2 bg-purple-400">
  <a href="/" class="mr-auto">
    <h2 class="transition hover:text-white">Store</h2>
  </a>
  <ul class="flex text-3xl gap-2">
    <a href="/">
      <li class="transition hover:text-white">Home</li>
    </a>
    <a href="/cart">
      <li class="transition hover:text-white">Cart</li>
    </a>
    <a href="/orders">
      <li class="transition hover:text-white">Orders</li>
    </a>
    <a href="/admin">
      <li class="transition hover:text-white">Account</li>
    </a>

    <a href="/login">
      <li class="transition hover:text-white">Login</li>
    </a>

    <a href="/logout">
      <li class="transition hover:text-white">Logout</li>
    </a>
  </ul>
</nav>
