<%- include("./partials/top.ejs") %>
<title>Shop!</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Product detail of <%= product.title %></h1>
<%- include("./partials/end.ejs") %>