<%- include("./partials/top.ejs") %>
<title>Shop!</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
        <h1>Products page . ADMIN -> <%= admin %></h1>
        <div class="grid">
            <div class="card">
                <div class="card-title">
                    Product Name
                </div>
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="A book">
                </div>
                <div class="card-details">
                    <button>Add to Cart</button>
                    <div class="price">Rs. 100</div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Product Name
                </div>
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="A book">
                </div>
                <div class="card-details">
                    <button>Add to Cart</button>
                    <div class="price">Rs. 100</div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Product Name
                </div>
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="A book">
                </div>
                <div class="card-details">
                    <button>Add to Cart</button>
                    <div class="price">Rs. 100</div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Product Name
                </div>
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="A book">
                </div>
                <div class="card-details">
                    <button>Add to Cart</button>
                    <div class="price">Rs. 100</div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Product Name
                </div>
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="A book">
                </div>
                <div class="card-details">
                    <button>Add to Cart</button>
                    <div class="price">Rs. 100</div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Product Name
                </div>
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="A book">
                </div>
                <div class="card-details">
                    <button>Add to Cart</button>
                    <div class="price">Rs. 100</div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Product Name
                </div>
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="A book">
                </div>
                <div class="card-details">
                    <button>Add to Cart</button>
                    <div class="price">Rs. 100</div>
                </div>
            </div>
        </div>
    </div>
<%- include("./partials/end.ejs") %>